<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apidemo">

    <!-- android:sharedUserId="android.uid.system" -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <uses-permission android:name="android.permission.DEVICE_POWER" /> -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".APIDemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/earth"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ResolveInfoActivity"
            android:label="ResolveInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.sss" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PowerManagerActivity"
            android:enabled="true"
            android:exported="true"
            android:label="PowerManagerActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.sjh" />
            </intent-filter>
        </activity>
        <!-- android:targetActivity="MainActivity" -->

        <activity android:name=".activity.ShortCutActivity">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EventDispatchActivity" />
        <activity android:name=".activity.TestServiceActivity" />
        <activity android:name=".activity.NewsActivity" />
        <activity android:name=".activity.SQLActivity" />

        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name=".AIDLAction" />
            </intent-filter>
        </service>
        <!--
        android:isolatedProcess=["true" | "false"]
    android:icon="drawable resource"
    android:label="string resource"
    android:name="string"
    android:permission="string"
    android:process="string"
    android:isolatedProcess : 如果设置为true，这个service将运行在一个从系统中其他部分分离出来的特殊进程中，我们只能通过Service API来与它进行交流。默认为false。
    android:label : 显示给用户的这个service的名字。如果不设置，将会默认使用<application>的label属性。
    android:name : service名称，这个属性是唯一一个必须填的属性。
    android:permission : 其他组件必须具有所填的权限才能启动这个service。
    android:process : service运行的进程的name。默认启动的service是运行在主进程中的。
        -->

        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.DIYViewActivity" />

        <meta-data android:value="58db526f310c935d4f001c2e" android:name="UMENG_APPKEY"/>
        <meta-data android:value="my_channel" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>